[submodule "ImguiDotNet"]
	path = ImguiDotNet
	url = https://github.com/ImGuiNET/ImGui.NET.git
[submodule "ImGui.NET-nativebuild"]
	path = ImGui.NET-nativebuild
	url = https://github.com/ImGuiNET/ImGui.NET-nativebuild
